*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: #000;
    height: 100%;
    width: 100%;
    display: inline-block;
}


.wrapper {
    display: flex;
    align-items: center;
    height: 290px;
margin-top: 250px;
position: absolute;
width: 100%;
padding: auto;
}

.slide-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 450px;
    transform: translatey(-190px);
    
    

}

.slide-list {
    display: flex;
    height: 320px;
    
}

.slide-item {
    cursor: grab;
    flex-shrink: 0;
    padding: 0 10px;
    width: 90vw;
    margin-top: 10px;
}

.slide-content {
    border-radius: 10px;
    border: 1px solid #d21616;
    box-shadow: #070707 0px 12px 12px;
    position: relative;
}

.slide-image {
    border-radius: 10px;
    width: 100%;
}

.slide-description {
    border-radius: 10px;
    background: linear-gradient(to top, #000, transparent);
    color: #faf6f6;
    position: absolute;
    padding: 30px;
    bottom: 0;
    width: 100%;
}

.slide-description h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 48px;
    position: relative;
    top: 16px
}

.slide-description p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}

.slide-nav-button {
    background: transparent;
    color: #e22121;
    cursor: pointer;
    font-size: 36px;
    position: absolute;
    z-index: 1;
}

.slide-nav-previous {
    left: 20px;
}

.slide-nav-next {
    right: 20px;
}

.slide-controls {
    margin: 30px auto 0;
}

.slide-control-button {
    color: #00060b;
    cursor: pointer;
    background: transparent;
    font-size: 18px;
    margin: 0 5px;
}

.slide-control-button.active {
    color: #000509;
}

@media screen and (max-width: 768px) {
    .slide-description {
        padding: 10px;
    }
    
    .slide-description h3 {
        font-size: 24px;
        top: 0;
    }

    .slide-description p {
        display: none;
    }

    .slide-nav-button {
        margin-top: -20px;
        font-size: 28px;
    }
    
    .slide-nav-previous {
        left: 10px;
    }
    
    .slide-nav-next {
        right: 10px;
    }

    .slide-controls {
        margin: 15px auto 0;
    }

    .slide-control-button {
        font-size: 14px;
    }
}
#parct{
    color: aqua;
    font-size: 20px;
    transform: translateX(30px);
}

                  